/* RESET
================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* CLASSIC
================== */

html {
	background: url("/img/grey.png");
}

body {
	padding-bottom: 10px;
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: normal;
}

header {
	width: 100%;
	position: fixed;
}

/* SCROLLBAR
================== */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #b2b2b2;
}

::-webkit-scrollbar-thumb {
	background: #666;
}

/* HEADINGS
================== */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #222;
	margin: 0 0 20px;
	line-height: 1.2;
	text-align: center;
}

h1, h2, h3 {
	line-height: 1.1;
}

h1 {
	font-size: 24px;
	padding: 14px;
}

h2 {
	font-size: 20px;
	color: #393939;
}

h2.cat {
	width: 50%;
	margin: 0 auto;
	color: #595959;
	border-bottom: 1px dotted #aaa;
}

h2.cat:hover {
	color: #333;
	background: rgba(0, 0, 0, .1);
}

h3 {
	color: #494949;
	font-size: 19px;
}

h4 {
	color: #595959;
	font-size: 18px
}

h5 {
	color: #696969;
	font-size: 17px;
}

h6 {
	color: #797979;
	font-size: 16px;
}

/* TEXT
================== */

p {
	text-align: center;
}

p, pre {
	margin: 0 0 15px;
}

p.desc {
	color: #4B95BA;
}

a {
	color: #069;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #069;
}

strong, b {
	color: #222;
	font-weight: bold;
}

em, i {
	font-style: italic;
}

blockquote {
	padding: 10px;
	font-style: italic;
	background: #ccc;
	background: rgba(0, 0, 0, .06);
	color: #636363;
	text-align: center;
	border-radius: 4px;
	width: 30%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

small {
	font-size: smaller;
}

sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

/* 3D TEXT
------------------ */

.z3d { /* Z~3D text - best for h1 */
	text-shadow:	0 1px 0 #ccc,
			0 2px 0 #c9c9c9,
			0 3px 0 #bbb,
			0 4px 0 #b9b9b9,
			0 5px 0 #aaa,
			0 6px 1px rgba(0, 0, 0, .1),
			0 0 5px rgba(0, 0, 0, .1),
			0 1px 3px rgba(0, 0, 0, .3),
			0 3px 5px rgba(0, 0, 0, .2),
			0 5px 10px rgba(0, 0, 0, .25),
			0 10px 10px rgba(0, 0, 0, .2),
			0 20px 20px rgba(0, 0, 0, .15);
}

/* BTN CLASS
------------------ */

a.btn {
	background: #D8D8D8;
	background: -webkit-linear-gradient(#D8D8D8, #ccc);
	background: -moz-linear-gradient(#D8D8D8, #ccc);
	background: -o-linear-gradient(#D8D8D8, #ccc);
	color: #666;
	padding: 0.3%;
	border-radius: 3px;
	border: 1px solid #BABABA;
}

a.btn:hover {
	background: #C2C2C2;
	background: -webkit-linear-gradient(#ccc, #D8D8D8);
	background: -moz-linear-gradient(#ccc, #D8D8D8);
	background: -o-linear-gradient(#ccc, #D8D8D8);
}

/* LISTS
================== */

ul {
	list-style: inside square;
}

ol {
	list-style: inside decimal;
}

/* CODE
================== */

code, pre {
	font-family: "Courier New", Monaco, monospace;
	font-size: 12px;
	color: #4BBA4B;
}

pre {
	padding: 10px;
	border: 1px solid #222;
	border-radius: 4px;
	background: #3A3C42;
	width: 30%;
	color: #f8f8f2;
	margin: 0 auto;
	margin-bottom: 8px;
}

/* SPECIAL
================== */

img {
	max-width: 100%;
	border-radius: 10px;
}

img.thumb {
	max-width: 10%;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

hr {
	border: 0;
	background: #aaa;
	height: 1px;
	width: 50%;
	margin: 0 auto;
}

kbd {
	background: #E3E3E3;
	background: -webkit-linear-gradient(#E3E3E3, #ccc);
	background: -moz-linear-gradient(#E3E3E3, #ccc);
	background: -o-linear-gradient(#E3E3E3, #ccc);
	color: #555;
	padding-top: 0px;
	padding: 0.3%;
	border-radius: 3px;
	border: 1px solid #BABABA;
}

button {
	background: #D8D8D8;
	background: -webkit-linear-gradient(#D8D8D8, #ccc);
	background: -moz-linear-gradient(#D8D8D8, #ccc);
	background: -o-linear-gradient(#D8D8D8, #ccc);
	color: #666;
	padding: 0.3%;
	border-radius: 3px;
	border: 1px solid #BABABA;
}

button:hover {
	background: #C2C2C2;
	background: -webkit-linear-gradient(#ccc, #D8D8D8);
	background: -moz-linear-gradient(#ccc, #D8D8D8);
	background: -o-linear-gradient(#ccc, #D8D8D8);
}

/* FOOTER
================== */

footer {
	width: 640px;
	margin: 0 auto;
	padding: 10px 0 0;
	color: #6F6F6F;
	overflow: hidden;
}

footer a {
	color: #336699;
	font-weight: bold;
}

footer a:hover {
	border-bottom: 1px solid #369;
}

footer p {
	float: left;
}

footer p + p {
	float: right;
}

/* DIV
================== */

.top {
	height: 13.5px;
	padding: 6px;
	color: #FFFFFF;
	font-size: 8.5pt;
	width: 80%;
	margin: 0 auto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #728E8E;
	font-family: "Courier New", monospace;
	font-weight: bold;
	margin-bottom: 1%;
	text-align: center;
}

.top strong {
	color: #FFFFFF;
}

.top a {
	color: #222;
	padding: 1px;
	border-radius: 2px;
	background: rgba(255, 255, 255, .5);
}

.top a:hover {
	border-bottom: none;
	color: rgba(255, 255, 255, .8);
	background: rgba(0, 0, 0, .4)
}

.box {
	background: #ccc;
	background: rgba(0, 0, 0, .06);
	padding: 10px;
	color: #636363;
	text-align: center;
	width: 30%;
	border-radius: 7px;
	margin: 0 auto;
}

/* NAV
================== */

nav {
	margin-right: 10%;
	float: right;
}

nav ul {
	list-style: none;
	height: 30px;
	background: #eee;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-shadow: inset #fff 0 1px 0, inset #94B8B8 0 -2px 0;
	width: 346px;
}

nav li {
	font-weight: bold;
	width: 85px;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #d2d2d2;
	height: 30px;
	font-size: 14px;
	display: block;
	color: #222;
}

nav li:hover {
	background: rgba(216, 216, 216, .5);
}

nav#home li#hml,
nav#tw li#twl,
nav#projct li#prl,
nav#about li#abl {
	background: rgba(92, 157, 189, .2);
}

nav#home a#hma,
nav#tw a#twa,
nav#projct a#pra,
nav#about a#aba {
	color: #44728A;
}

nav li#hml,
nav a#hma {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: none;
}

nav li#abl,
nav a#aba {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: none;
}

nav ul a {
	line-height: 1;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	width: 85px;
	height: 30px;
}

nav ul a:hover {
	color: #666;
	border-bottom: none;
}

/* QUERY
================== */

@media print, screen and (max-width: 740px) {
	body {padding: 0;}
	.top {width: 90%;}
	img {max-width: 90%; max-height: 45%;}
	.box {width: 85%;}
	hr {width: 90%;}
	nav {margin: 0; width: 96%; padding: 2%;}
	nav ul {width: 100%;}
	nav li {width: 24.68%; display: inline;}
	nav ul a {font-size: 13px; width: 100%;}
	blockquote {width: 85%;}
	pre {width: 85%;}
	footer {border-radius: 0; padding: 20px; width: auto;}
	footer p {float: none; margin: 0;}
	footer p + p {float: none;}
}

@media screen and (max-width: 360px) {
	nav li {width: 24.53%;}
	.top, .tw {display: none;}
	p {font-size: 13px;}
	h1 {font-size: 20px;}
	code {font-size: 14px;}
}
