html {background: url("retina_wood.png");}

body {
  padding: 100px;
  margin: 0 auto;
  font: 14px/1.5 Courier New;
  color: #FFFFFF;
  font-weight: 300;
}

/* BOX */
div.box {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 3px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  border: 1px solid #000000;
}

pre + pre {text-align: center;}

a {color: #58BCFF; text-decoration: none;}
