html {
  background: url("/img/grey.png");
}

/* CLASSIC */
body {
  padding-bottom: 8px;
  margin: 0;
  font: 14px/1.5 Helvetica Neue, "Helvetica", Arial, "sans-serif";
  color: #555;
  font-weight: 300;
}

p {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
p, pre {
  margin: 0 0 20px;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 26px;
  padding: 14px;
}

h2 {color: #393939;}

h3, h4, h5, h6 {color: #494949;}

/* TEXT */
a {
  color: #069;
  text-decoration: none;
}

strong {
  color: #222;
  font-weight: 700;
}

blockquote {
  padding: 15px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #636363;
  text-align: center;
  border-radius: 3px;
}

small {
  font-size: 11px;
}

/* CODE */
code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", Lucida Console, "Terminal", monospace;
  color: #000;
  font-size: 15px;
}
pre {
  padding: 4px;
  background: #3A3C42;
  width: 300px;
  color: #f8f8f2;
  margin: 0 auto;
  border-radius: 6px;
}
pre a {
  color: #0099FF;
  text-decoration: none;
}
pre code {
  color: #66FF33;
}
li pre {
  padding-left: 10px;
}

/* SPECIAL */
img {
  max-width: 100%;
  border-radius: 10px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  width: 640px;
  margin: 0 auto;
}

/* FOOTER */
footer {
  width: 640px;
  margin: 0 auto;
  padding: 10px 0 0;
  color: #6F6F6F;
  overflow: hidden;
}
footer a {
  color: #336699;
  font-weight: bold;
}
footer p {
  float: left;
}
footer p + p {
  float: right;
}

/* DIV */
.top {
  height: 13px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 8pt;
  width: 1000px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #728E8E;
  font-family: Courier New;
  margin-bottom: 1%;
  text-align: center;
}
.top strong {color: #FFFFFF;}

.box {
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  padding: 10px;
  color: #636363;
  text-align: center;
  width: 350px;
  border-radius: 7px;
  margin: 0 auto;
}

/* NAV */
nav {
  width: 500px;
  float: right;
}
nav ul {
  list-style: none;
  height: 30px;
  padding: 0;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset #94B8B8 0 -2px 0;
  width: 350px;
}
nav li {
  width: 85px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 30px;
}
nav ul a {
  line-height: 1;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 30px;
  text-decoration: none;
}
nav ul li + li {
  border-left: 1px solid #fff;
}
nav ul li + li + li {border-left: 1px solid #fff;}
nav ul li + li + li + li {border-right: none;}
nav ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

/* QUERY */
@media print, screen and (max-width: 740px) {
  body {padding: 0;}

  footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {float: none;}
}

@media screen and (max-width: 360px) {
  div.top {display: none;}
  p {font-size: 13px;}
  h1 {font-size: 20px;}
  code {font-size: 14px;}
}
