html {
  background: #020607 url("/img/grey.png");
}

/* CLASSIC */
body {
  padding-bottom: 10px;
  margin: 0;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

a {
  color: #069;
  text-decoration: none;
}

p {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
  text-align: center;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 27px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

/* SPECIAL */
blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#000;
  font-size:15px;
}
pre {
  padding: 4px;
  background: #3A3C42;
  width: 300px;
  color: #f8f8f2;
  margin: 0 auto;
  border-radius: 6px;
}
pre a {
  color: #0099FF;
  text-decoration: none;
}
pre code {
  color: #66FF33;
}
li pre {
  margin-left: -60px;
  padding-left: 60px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  width: 640px;
  margin: 0 auto;
}

/* FOOTER */
footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #6F6F6F;
  overflow: hidden;
}
footer a {
  color: #336699;
  font-weight: bold;
}
footer p {
  float: left;
}
footer p + p {
  float: right;
}

/* DIV */
div.top {
  height: 13px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 8pt;
  width: 1000px;
  margin: 0 auto;
  background-color: #728E8E;
  font-family: Courier New;
  margin-bottom: 1%;
  text-align: center;
}
div.top strong {
  color: #FFFFFF;
}  

div.box {
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  text-align: center;
  width: 300px;
  border-radius: 7px;
  margin: 0 auto;
}
div.box strong {
  color: #FFFFFF;
  font-weight: 700;
}

/* NAV */
nav {
  height: 15.5px;
  padding: 7px;
  color: #FFFFFF;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;;
  width: 800px;
  margin: 0 auto;
  word-spacing: 50px;
  margin-bottom: 1%;
  text-align: right;
}
nav a {
  color: #000;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: #B8CFE6;
}

/* MEDIA */
@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }

}
@media print, screen and (max-width:580px) {
}
